* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
  }
  .corpo {
    width: 100%;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: 	#87CEFA
  }

  #navbar {
    padding: 1em 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #db4c3f;
    color: #fff;
  }
  
  #navbar ul {
    display: flex;
    list-style: none;
  }
  
  #navbar ul li {
    margin-left: 1em;
  }
  
  #navbar ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 2em;
  }

  .boxCarro {
    width: 445px;
    height: 580px;
    margin-block: auto;
    
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    
  }

  .container {
    max-width: 700px;
    margin: 2em auto;
  }
  
  .container form {
    margin-top: 1.5em;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  
  .form-control input,
  .form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  form input[type='submit'] {
    background-color: #db4c3f;
    color: #fff;
    padding: 0.7em 1.5em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .user_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1em;
  }
  
  .user_list li {
    display: flex;
    flex-direction: row;
    justify-content:flex-start; 
  }
  
  .user_list li label{
   margin-left: 5px;
  }
  li label{
    font-size: 1.5em;
  }
  
  .actions{
    margin-top: 6px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50px;
    font-size: 1.5rem;
  }
  .back_view{
    background-color: DCDCDC;
    display: flex;
  }
  .back_view button {
    align-items: center;
  }
  
  
  .actions form {
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
  
  }
  
  .footer {
    background-color: black;
    color: white;
    position: fixed ;
    bottom: 0;
    border-radius: 10px;
    width: 100%;
  }