<div class="d-flex justify-content-center">
    <h1 class="center">Cadastrar Veiculo</h1>
</div>
<div class="boxCarro">
    <form action="/carros/add" class="p-2" method="post">
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" placeholder="Informe o Nome">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Ano</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ano" placeholder="Informe o Ano">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Modelo</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="modelo" placeholder="Informe o Modelo">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Motor</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="motor" placeholder="Informe o Motor">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Fabricante</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="fabricante" placeholder="Informe o Fabricante">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Cor</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="cor" placeholder="Informe a Cor">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="valor" placeholder="Informe o Valor">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Opcionais</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="opcionais" placeholder="Informe os Opcionais">
            </div>
        </div>

        <input type="submit" value="Cadastrar">
    </form>
</div>
